/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Estilos del encabezado */
header {
    border-bottom: 1px solid #e0e0e0;
    padding: 1.5rem 0;
    margin-bottom: 2rem;
    text-align: center;
}

header h1 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #2c3e50;
}

/* Estilos del contenido principal */
main {
    max-width: 800px;
    margin: 0 auto;
}

/*section {
    margin-bottom: 2rem;
}*/

main p {
    color: #2c3e50;
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 1.5rem;
}

main a {
    color: #1e40af;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-color 0.2s ease;
}

main a:hover {
    border-bottom-color: #3498db;
}

main nav ul {
    list-style: none;
    padding-left: 1rem;
}

main nav ul li {
    margin: 1rem 0;
}

summary {
    cursor: pointer;
    padding: 0.5rem 0;
    color: #2c3e50;
    font-weight: 500;
}

summary:hover {
    color: #3498db;
}

details a {
    color: #2c3e50
}

details a:hover{
    color: #3498db
}

details[open] {
    padding-bottom: 1rem;
}

details > ul {
    margin-top: 0.5rem;
    margin-left: 1.5rem;
    list-style: none;
}

details ul li {
    margin: 0.5rem 0;
}

/* Estilos del pie de página */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #f4f4f4;
    margin-top: auto;
} 